.weather-forecast-autocomplete {
  position: relative;

  .suggestion-dropdown {
    position: absolute;
    background-color: linen;
    top: 40px;

    .suggestion-label {
      padding: 5px 10px;

      &:hover {
        background-color: #007bff;
        color: linen;
      }
    }
  }
}